In [0]:
"""1. Find the distinct columns and remove duplicate from the following dataset

data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]""""
  

from pyspark.sql import SparkSession
from pyspark.sql import Row

# Create a Spark session
spark = SparkSession.builder.appName("DistinctColumns").getOrCreate()

# Define the dataset
data = [("James", "Sales", 3000),
        ("Michael", "Sales", 4600),
        ("Robert", "Sales", 4100),
        ("Maria", "Finance", 3000),
        ("James", "Sales", 3000),
        ("Scott", "Finance", 3300),
        ("Jen", "Finance", 3900),
        ("Jeff", "Marketing", 3000),
        ("Kumar", "Marketing", 2000),
        ("Saif", "Sales", 4100)]

# Create a DataFrame from the dataset
columns = ["Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)

# Display the original DataFrame
print("Original DataFrame:")
df.show()

# Find distinct columns and remove duplicates
distinct_df = df.dropDuplicates()

# Display the DataFrame after removing duplicates
print("DataFrame after removing duplicates:")
distinct_df.show()

Original DataFrame:
+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  James|     Sales|  3000|
|Michael|     Sales|  4600|
| Robert|     Sales|  4100|
|  Maria|   Finance|  3000|
|  James|     Sales|  3000|
|  Scott|   Finance|  3300|
|    Jen|   Finance|  3900|
|   Jeff| Marketing|  3000|
|  Kumar| Marketing|  2000|
|   Saif|     Sales|  4100|
+-------+----------+------+

DataFrame after removing duplicates:
+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|Michael|     Sales|  4600|
|  James|     Sales|  3000|
| Robert|     Sales|  4100|
|  Maria|   Finance|  3000|
|  Scott|   Finance|  3300|
|    Jen|   Finance|  3900|
|  Kumar| Marketing|  2000|
|   Jeff| Marketing|  3000|
|   Saif|     Sales|  4100|
+-------+----------+------+

In [0]:
"""2. Let’s create an "emp" and "dept" DataFrames. here, column "emp_id" is unique 
on emp and "dept_id" is unique on the dept dataset’s and emp_dept_id from emp has a reference to dept_id on dept dataset."""

emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
  
dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
  
 joins two datasets on key columns give the results of all the following joins and print the results
 
inner
outer, full, fullouter, full_outer
left, leftouter, left_outer
right, rightouter, right_outer
cross	
anti, leftanti, left_anti	
semi, leftsemi, left_semi

from pyspark.sql import SparkSession
from pyspark.sql import Row

# Create a Spark session
spark = SparkSession.builder.appName("JoinExamples").getOrCreate()

# Define the "emp" dataset
emp_data = [(1, "Smith", -1, "2018", "10", "M", 3000),
            (2, "Rose", 1, "2010", "20", "M", 4000),
            (3, "Williams", 1, "2010", "10", "M", 1000),
            (4, "Jones", 2, "2005", "10", "F", 2000),
            (5, "Brown", 2, "2010", "40", "", -1),
            (6, "Brown", 2, "2010", "50", "", -1)]

# Define the "dept" dataset
dept_data = [("Finance", 10),
             ("Marketing", 20),
             ("Sales", 30),
             ("IT", 40)]

# Create DataFrames from the datasets
emp_columns = ["emp_id", "emp_name", "emp_dept_id", "emp_year", "emp_dept_id_ref", "gender", "salary"]
dept_columns = ["dept_name", "dept_id"]

emp_df = spark.createDataFrame(emp_data, emp_columns)
dept_df = spark.createDataFrame(dept_data, dept_columns)

# Display the original DataFrames
print("emp DataFrame:")
emp_df.show()

print("dept DataFrame:")
dept_df.show()

# Perform different types of joins and display the results
# Inner Join
inner_join = emp_df.join(dept_df, emp_df["emp_dept_id_ref"] == dept_df["dept_id"], "inner")
print("Inner Join:")
inner_join.show()

# Outer Join (Full Outer Join)
outer_join = emp_df.join(dept_df, emp_df["emp_dept_id_ref"] == dept_df["dept_id"], "outer")
print("Outer Join:")
outer_join.show()

# Left Join (Left Outer Join)
left_join = emp_df.join(dept_df, emp_df["emp_dept_id_ref"] == dept_df["dept_id"], "left")
print("Left Join:")
left_join.show()

# Right Join (Right Outer Join)
right_join = emp_df.join(dept_df, emp_df["emp_dept_id_ref"] == dept_df["dept_id"], "right")
print("Right Join:")
right_join.show()

# Cross Join
cross_join = emp_df.crossJoin(dept_df)
print("Cross Join:")
cross_join.show()

# Anti Join (Left Anti Join)
anti_join = emp_df.join(dept_df, emp_df["emp_dept_id_ref"] == dept_df["dept_id"], "left_anti")
print("Anti Join:")
anti_join.show()

# Semi Join (Left Semi Join)
semi_join = emp_df.join(dept_df, emp_df["emp_dept_id_ref"] == dept_df["dept_id"], "left_semi")
print("Semi Join:")
semi_join.show()

emp DataFrame:
+------+--------+-----------+--------+---------------+------+------+
|emp_id|emp_name|emp_dept_id|emp_year|emp_dept_id_ref|gender|salary|
+------+--------+-----------+--------+---------------+------+------+
|     1|   Smith|         -1|    2018|             10|     M|  3000|
|     2|    Rose|          1|    2010|             20|     M|  4000|
|     3|Williams|          1|    2010|             10|     M|  1000|
|     4|   Jones|          2|    2005|             10|     F|  2000|
|     5|   Brown|          2|    2010|             40|      |    -1|
|     6|   Brown|          2|    2010|             50|      |    -1|
+------+--------+-----------+--------+---------------+------+------+

dept DataFrame:
+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

Inner Join:
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|emp_id|emp_name|emp_dept_id|emp_year|emp_dept_id_ref|gender|salary|dept_name|dept_id|
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|     1|   Smith|         -1|    2018|             10|     M|  3000|  Finance|     10|
|     3|Williams|          1|    2010|             10|     M|  1000|  Finance|     10|
|     4|   Jones|          2|    2005|             10|     F|  2000|  Finance|     10|
|     2|    Rose|          1|    2010|             20|     M|  4000|Marketing|     20|
|     5|   Brown|          2|    2010|             40|      |    -1|       IT|     40|
+------+--------+-----------+--------+---------------+------+------+---------+-------+

Outer Join:
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|emp_id|emp_name|emp_dept_id|emp_year|emp_dept_id_ref|gender|salary|dept_name|dept_id|
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|     1|   Smith|         -1|    2018|             10|     M|  3000|  Finance|     10|
|     3|Williams|          1|    2010|             10|     M|  1000|  Finance|     10|
|     4|   Jones|          2|    2005|             10|     F|  2000|  Finance|     10|
|     2|    Rose|          1|    2010|             20|     M|  4000|Marketing|     20|
|  null|    null|       null|    null|           null|  null|  null|    Sales|     30|
|     5|   Brown|          2|    2010|             40|      |    -1|       IT|     40|
|     6|   Brown|          2|    2010|             50|      |    -1|     null|   null|
+------+--------+-----------+--------+---------------+------+------+---------+-------+

Left Join:
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|emp_id|emp_name|emp_dept_id|emp_year|emp_dept_id_ref|gender|salary|dept_name|dept_id|
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|     1|   Smith|         -1|    2018|             10|     M|  3000|  Finance|     10|
|     3|Williams|          1|    2010|             10|     M|  1000|  Finance|     10|
|     2|    Rose|          1|    2010|             20|     M|  4000|Marketing|     20|
|     4|   Jones|          2|    2005|             10|     F|  2000|  Finance|     10|
|     6|   Brown|          2|    2010|             50|      |    -1|     null|   null|
|     5|   Brown|          2|    2010|             40|      |    -1|       IT|     40|
+------+--------+-----------+--------+---------------+------+------+---------+-------+

Right Join:
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|emp_id|emp_name|emp_dept_id|emp_year|emp_dept_id_ref|gender|salary|dept_name|dept_id|
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|     4|   Jones|          2|    2005|             10|     F|  2000|  Finance|     10|
|     3|Williams|          1|    2010|             10|     M|  1000|  Finance|     10|
|     1|   Smith|         -1|    2018|             10|     M|  3000|  Finance|     10|
|     2|    Rose|          1|    2010|             20|     M|  4000|Marketing|     20|
|  null|    null|       null|    null|           null|  null|  null|    Sales|     30|
|     5|   Brown|          2|    2010|             40|      |    -1|       IT|     40|
+------+--------+-----------+--------+---------------+------+------+---------+-------+

Cross Join:
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|emp_id|emp_name|emp_dept_id|emp_year|emp_dept_id_ref|gender|salary|dept_name|dept_id|
+------+--------+-----------+--------+---------------+------+------+---------+-------+
|     1|   Smith|         -1|    2018|             10|     M|  3000|  Finance|     10|
|     1|   Smith|         -1|    2018|             10|     M|  3000|Marketing|     20|
|     1|   Smith|         -1|    2018|             10|     M|  3000|    Sales|     30|
|     1|   Smith|         -1|    2018|             10|     M|  3000|       IT|     40|
|     2|    Rose|          1|    2010|             20|     M|  4000|  Finance|     10|
|     3|Williams|          1|    2010|             10|     M|  1000|  Finance|     10|
|     2|    Rose|          1|    2010|             20|     M|  4000|Marketing|     20|
|     3|Williams|          1|    2010|             10|     M|  1000|Marketing|     20|
|     2|    Rose|          1|    2010|             20|     M|  4000|    Sales|     30|
|     3|Williams|          1|    2010|             10|     M|  1000|    Sales|     30|
|     2|    Rose|          1|    2010|             20|     M|  4000|       IT|     40|
|     3|Williams|          1|    2010|             10|     M|  1000|       IT|     40|
|     4|   Jones|          2|    2005|             10|     F|  2000|  Finance|     10|
|     4|   Jones|          2|    2005|             10|     F|  2000|Marketing|     20|
|     4|   Jones|          2|    2005|             10|     F|  2000|    Sales|     30|
|     4|   Jones|          2|    2005|             10|     F|  2000|       IT|     40|
|     5|   Brown|          2|    2010|             40|      |    -1|  Finance|     10|
|     6|   Brown|          2|    2010|             50|      |    -1|  Finance|     10|
|     5|   Brown|          2|    2010|             40|      |    -1|Marketing|     20|
|     6|   Brown|          2|    2010|             50|      |    -1|Marketing|     20|
+------+--------+-----------+--------+---------------+------+------+---------+-------+
only showing top 20 rows

Anti Join:
+------+--------+-----------+--------+---------------+------+------+
|emp_id|emp_name|emp_dept_id|emp_year|emp_dept_id_ref|gender|salary|
+------+--------+-----------+--------+---------------+------+------+
|     6|   Brown|          2|    2010|             50|      |    -1|
+------+--------+-----------+--------+---------------+------+------+

Semi Join:
+------+--------+-----------+--------+---------------+------+------+
|emp_id|emp_name|emp_dept_id|emp_year|emp_dept_id_ref|gender|salary|
+------+--------+-----------+--------+---------------+------+------+
|     1|   Smith|         -1|    2018|             10|     M|  3000|
|     3|Williams|          1|    2010|             10|     M|  1000|
|     4|   Jones|          2|    2005|             10|     F|  2000|
|     2|    Rose|          1|    2010|             20|     M|  4000|
|     5|   Brown|          2|    2010|             40|      |    -1|
+------+--------+-----------+--------+---------------+------+------+

In [0]:
"""3.Take the following sample data and apply the window functions cume_dist(), lag, lead, row_number(), rank(), percent_rank(), dense_rank() and ntile

simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )"""

from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.window import Window
from pyspark.sql.functions import cume_dist, lag, lead, row_number, rank, percent_rank, dense_rank, ntile

# Create a Spark session
spark = SparkSession.builder.appName("WindowFunctionsExample").getOrCreate()

# Define the "simpleData" dataset
simple_data = [
    ("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
]

# Create a DataFrame from the dataset
columns = ["Name", "Department", "Salary"]
df = spark.createDataFrame(simple_data, columns)

# Define a window specification based on the "Department" column
window_spec = Window.partitionBy("Department").orderBy("Salary")

# Apply window functions
df = df.withColumn("cume_dist", cume_dist().over(window_spec))
df = df.withColumn("lag", lag("Salary").over(window_spec))
df = df.withColumn("lead", lead("Salary").over(window_spec))
df = df.withColumn("row_number", row_number().over(window_spec))
df = df.withColumn("rank", rank().over(window_spec))
df = df.withColumn("percent_rank", percent_rank().over(window_spec))
df = df.withColumn("dense_rank", dense_rank().over(window_spec))
df = df.withColumn("ntile", ntile(3).over(window_spec))

# Display the result
df.show()

+-------+----------+------+------------------+----+----+----------+----+------------+----------+-----+
|   Name|Department|Salary|         cume_dist| lag|lead|row_number|rank|percent_rank|dense_rank|ntile|
+-------+----------+------+------------------+----+----+----------+----+------------+----------+-----+
|  Maria|   Finance|  3000|0.3333333333333333|null|3300|         1|   1|         0.0|         1|    1|
|  Scott|   Finance|  3300|0.6666666666666666|3000|3900|         2|   2|         0.5|         2|    2|
|    Jen|   Finance|  3900|               1.0|3300|null|         3|   3|         1.0|         3|    3|
|  Kumar| Marketing|  2000|               0.5|null|3000|         1|   1|         0.0|         1|    1|
|   Jeff| Marketing|  3000|               1.0|2000|null|         2|   2|         1.0|         2|    2|
|  James|     Sales|  3000|               0.4|null|3000|         1|   1|         0.0|         1|    1|
|  James|     Sales|  3000|               0.4|3000|4100|         2|   1|         0.0|         1|    1|
| Robert|     Sales|  4100|               0.8|3000|4100|         3|   3|         0.5|         2|    2|
|   Saif|     Sales|  4100|               0.8|4100|4600|         4|   3|         0.5|         2|    2|
|Michael|     Sales|  4600|               1.0|4100|null|         5|   5|         1.0|         3|    3|
+-------+----------+------+------------------+----+----+----------+----+------------+----------+-----+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Create a Spark session
spark = SparkSession.builder.appName("ReplaceNA").getOrCreate()

# Define the schema using StructType
schema = StructType([
    StructField("ZipCode", IntegerType(), True),
    StructField("City", StringType(), True),
    StructField("State", StringType(), True),
    StructField("Country", StringType(), True)
])

# Read the CSV file with the defined schema
df = spark.read.csv("C:\Users\2000108495\Downloads\zipcodes.csv", header=True, schema=schema)

# Replace NA values with NULL
df = df.na.fill("NULL")

# Save the output as a CSV file
df.write.csv("path/to/output")

  File "<command-2330113905308507>", line 16
    df = spark.read.csv("C:\Users\2000108495\Downloads\zipcodes.csv", header=True, schema=schema)
                                                                    ^
SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Create a Spark session
spark = SparkSession.builder.appName("ReplaceNA").getOrCreate()

# Define the schema using StructType
schema = StructType([
    StructField("ZipCode", IntegerType(), True),
    StructField("City", StringType(), True),
    StructField("State", StringType(), True),
    StructField("Country", StringType(), True)
])

# Read the CSV file with the defined schema
df = spark.read.csv("zipcodes.csv", header=True, schema=schema)

# Replace NA values with NULL
df = df.na.fill("NULL")

# Save the output as a CSV file
df.write.csv("output_folder", header=True)

---------------------------------------------------------------------------
IllegalArgumentException                  Traceback (most recent call last)
<command-2330113905308508> in <cell line: 16>()
     14
     15 # Read the CSV file with the defined schema
---> 16 df = spark.read.csv("zipcodes.csv", header=True, schema=schema)
     17
     18 # Replace NA values with NULL

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/readwriter.py in csv(self, path, schema, sep, encoding, quote, escape, comment, header, inferSchema, ignoreLeadingWhiteSpace, ignoreTrailingWhiteSpace, nullValue, nanValue, positiveInf, negativeInf, dateFormat, timestampFormat, maxColumns, maxCharsPerColumn, maxMalformedLogPerPartition, mode, columnNameOfCorruptRecord, multiLine, charToEscapeQuoteEscaping, samplingRatio, enforceSchema, emptyValue, locale, lineSep, pathGlobFilter, recursiveFileLookup, modifiedBefore, modifiedAfter, unescapedQuoteHandling)
    533         if type(path) == list:
    534             assert self._spark._sc._jvm is not None
--> 535             return self._df(self._jreader.csv(self._spark._sc._jvm.PythonUtils.toSeq(path)))
    536         elif isinstance(path, RDD):
    537

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

IllegalArgumentException: Path must be absolute: zipcodes.csv